@model List<Konsultimet>
@if (TempData["success"] != null)
{
        <h2>@TempData["success"]</h2>
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Lista e Konsultimeve
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Konsultimet" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i> Krijo nje Konsultim
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Titulli
                    </th>
                    <th>
                        Emri i lendes
                    </th>
                    <th>
                        Përshkrimi i konsultimit
                    </th>
                    <th>
                        Koha e fillimit
                    </th>
                    <th>
                        Koha e mbarimit
                    </th>
                    <th></th>
                </tr>
            </thead>
            </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/konusulimet.js"></script>
}