@model Consult.Models.ViewModels.KunsultimetVM
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    @(Model.Konsultimet.Kid != 0 ? "Edito" : "Krijo") Konsultim
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Konsultimet.Kid" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Konsultimet.Ktitle" class="form-control border-0 shadow" />
                    <label asp-for="Konsultimet.Ktitle" class="ms-2"></label>
                    <span asp-validation-for="Konsultimet.Ktitle" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Konsultimet.Kpershkrimi" class="form-control border-0 shadow" />
                    <label asp-for="Konsultimet.Kpershkrimi" class="ms-2"></label>
                    <span asp-validation-for="Konsultimet.Kpershkrimi" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Konsultimet.KkohaEFillimit" class="form-control border-0 shadow" />
                    <label asp-for="Konsultimet.KkohaEFillimit" class="ms-2"></label>
                    <span asp-validation-for="Konsultimet.KkohaEFillimit" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Konsultimet.KkohaEMbarimit" class="form-control border-0 shadow" />
                    <label asp-for="Konsultimet.KkohaEMbarimit" class="ms-2"></label>
                    <span asp-validation-for="Konsultimet.KkohaEMbarimit" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="Konsultimet.KLid" asp-items="@Model.LendList" class="form-select border-0 shadow">
                        <option disabled selected>
                            --Selekto Lenden --
                        </option>
                    </select>
                    <label asp-for="Konsultimet.KLid" class="ms-2"></label>
                    <span asp-validation-for="Konsultimet.KLid" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if (Model.Konsultimet.KLid != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Krijo</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Konsultimet" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Kthehu ne list
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}