<h1>Delete</h1>
@model Lendet
<form method="post">
    <input asp-for="Lid" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Fshi Lende
            </h2>
        </div>
        <div class="mb-3 row">
            <label asp-for="Lname" class="p-0"></label>
            <input asp-for="Lname" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="Ldescription" class="p-0"></label>
            <input asp-for="Ldescription" disabled type="text" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Lendet" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Kthehu ne list
                </a>
            </div>
        </div>
    </div>
</form>
